
		body{
			position: relative;
		}


			h1{
				text-align: center;
				border: 2px solid;
				width: 150px;
				border-radius: 20px;

			}
@media (min-width:992px){
		
		.row{
			position: absolute;
			width: 100%;
			height: 250px;
			margin-top: 150px;
		}

		.col-lg-4{
			border: 2px solid black;
			float: left;
			position: relative;
			width: 24%;
			box-sizing: border-box;
			padding: 10px;
			margin-top: 10px;
			margin-left: 90px;
	}
			section:nth-child(2){
				background-color: silver;
			}


			section:nth-child(3){
				background-color: gray;
			}


			section:nth-child(4){
				background-color: slategrey;
			}


			.col-lg-4 h2{
				text-align: right;		
				font-style: oblique;
			}


			p{
				text-align: center;
				font-style: oblique;
			}

			h1{
					background-color: #9d9494;			
			}
}


@media (min-width:768px) and (max-width:991px){
		
		.row{
			position: absolute;
			width: 100%;
			height: 460px;
			margin-top: 150px;
		}

		.col-md-6{

			border: 2px solid black;
			float: left;
			position: relative;
			width: 40%;
/*			height: 45%;*/
			box-sizing: border-box;
			padding: 5px;
			margin-top: 20px;
			margin-left: 65px;
			}

			section:nth-child(2){
				background-color: lightblue ;
			}


			section:nth-child(3){
				background-color: skyblue;
			}


			section:nth-child(4){
				background-color: lightskyblue;
			}

			.col-lg-4 h2{
				text-align: right;
			}

			p{
				text-align: center;
				font-style: oblique;
			}

			h1{
					background-color:deepskyblue;
			
			}
}


@media (max-width:767px){
		
		.row{
			position: absolute;
			width: 40%;
			height: 810px;
			margin-left: 200px;
		}

		.col-sm-12{
			border: 2px solid black;
			position: relative;
			width: 80%;
			box-sizing: border-box;
			padding: 10px;
			margin-top: 10px;
			margin-left: 20px;
		}

			section:nth-child(2){
				background-color: lightgreen;
			}


			section:nth-child(3){
				background-color: lawngreen;
			}


			section:nth-child(4){
				background-color: limegreen;
			}

			.col-sm-12 h1{
				text-align: right;
				font-style: oblique;
			}

			p{
				text-align: center;
				font-style: oblique;
			}

			h1{
				background-color:	#C4F1C4;
			}
}

